Copyright Â© 2020 Selangor Human Resource Development Center. All Rights Reserved.

# Data Types and Variables

1. Store a message in a variable, then print that message. Then change the value of your variable to a new message, and print the new message.

In [22]:
x = "This is NK's Message"
print(x)
x = "This is NK's 2nd Message"
print(x)

This is NK's Message
This is NK's 2nd Message

2. Use built-in input function to prompt a number to be typed and store it inside a variable. Print the variable

In [2]:
x = input("Enter a number : ")
print(x)

Enter a number4
4

## Numbers

1. Write addition, subtraction, multiplication, and division operations that each result in the number 8. Be sure to enclose your operations in print statements to see the results. You should create four lines that look like this:

            print(5 + 3)

In [4]:
print(4 + 4)
print(12 - 4)
print(2 * 4)
print(32 // 4)

8
8
8
8

2. Store a number in a variable. Then, using that variable, create a message that reveals that number. Print that message.

In [6]:
x = 5;
print("The number stored is ",x)

The number stored is  5

## Strings

1. Use len method to print the length of the string. (Use "Hello World" as string)

In [7]:
print(len("Hello World"))

11

2. Get the first character of the string 'Hello World'

In [8]:
x = "Hello World"
print(x[0])

H

3. Get the characters from index 2 to index 4 of the same string

In [11]:
x = "Hello World"
print(x[2:4+1])

llo

4. Return the string without any whitespace at the beginning or the end.

In [14]:
x = "Hello World"
print(x.strip())

Hello World

5. Convert the value of txt to upper case

In [62]:
x = "Hello World"
print(x.upper())

HELLO WORLD

6. Convert the value of txt to lower case

In [16]:
x = "Hello World"
print(x.lower())

hello world

7. Replace the character 'H' with a 'J'

In [18]:
x = "Hello World"
print(x.replace("H","J"))

Jello World

8. Insert the correct syntax to add a placeholder for the age parameter.

            age = 36
            txt = "My name is John, and I am __" # Use placeholder for the age parameter
            print(txt.format(age))

In [41]:
age = 36
txt = "My name is John, and I am {}" # Use placeholder for the age parameter
print(txt.format(age))

My name is John, and I am 36

## Lists

1. Print the second item in the fruits list.

                fruits = ['apple', 'banana', 'cherry']

In [21]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])

banana

2. Change the value from "apple" to "kiwi", in the fruits list.

In [26]:
fruits = ['apple', 'banana', 'cherry']
fruits[fruits.index("apple")] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

3. Use the append method to add "orange" to the fruits list.

In [30]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

4. Use the insert method to add "lemon" as the second item in the fruits list.

In [33]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

5. Use remove method to remove 'banana' from the fruits list.

In [34]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

6. Use negative indexing to print the last item in the list.

In [35]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])

cherry

7. Use a range of indexes to print the third, fourth, and fifth item in the list.

                fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [39]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

8. Use the correct syntax to print the number of items in the list.

In [40]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruits))

7

## Dictionaries

1. Use get method to print the value of the 'model' key of the car dictionary.

                car =	{
                  "brand": "Ford",
                  "model": "Mustang",
                  "year": 1964
                }

In [59]:
car =    {
           "brand": "Ford",
           "model": "Mustang",
           "year": 1964
         }
car.get("model")

'Mustang'

2. Change the "year" value from 1964 to 2020.

In [57]:
car =    {
           "brand": "Ford",
           "model": "Mustang",
           "year": 1964
         }
car["year"] = 2020
#car.update({"year":2020})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

3. Add key/value pair 'color': 'red' to the car dictionary

In [49]:
car =    {
           "brand": "Ford",
           "model": "Mustang",
           "year": 1964
         }
car["color"] = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

4. Use the pop method to remove 'model' from the car dictionary

In [51]:
car =    {
           "brand": "Ford",
           "model": "Mustang",
           "year": 1964
         }
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

5. Use the clear method to empty the car dictionary.

In [52]:
car =    {
           "brand": "Ford",
           "model": "Mustang",
           "year": 1964
         }
car.clear()
print(car)

{}

## Tuples

1. Use the correct syntax to print the first item in the fruits tuple.
    
                fruits = ('apple', 'banana', 'cherry')

In [2]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

'apple'

2. Use the correct syntax to print the number of items in the fruits tuple.

In [3]:
fruits = ('apple', 'banana', 'cherry')
print(len(fruits))

3

3. Use negative indexing to print the last item in the tuple.

In [4]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[-1])

'cherry'

## Datatype conversion

1. Convert number 5 to a floating point number

In [5]:
float(5)

5.0

2. Convert 5.5 to integer

In [6]:
int(5.5)

5

3. Convert number 5 into a complex number

In [7]:
complex(5)

(5+0j)

# Control Statements

1. Print 'Big' if a is greater than b.

                a = 50
                b = 10

In [9]:
a = 50
b = 10
if a > b: print('Big')

Big

2. Print 'Not Equal' if a is not equal to b.

In [10]:
a = 50
b = 10
if a != b: print('Not Equal')

Not Equal

3. Print "Equal" if a is equal to b, otherwise print "Not Equal"

In [14]:
a = 50
b = 10
print("Equal") if a == b else print("Not Equal")

Not Equal

4. Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [16]:
a = 50
b = 10
print("1") if a == b else print("2") if a > b else print("3")

2

5. Print "Hello" if a is equal to b, and c is equal to d.

                c = 5
                d = 15

In [28]:
a = 50
b = 10
c = 5
d = 15

if a == b and c == d:
    print("Hello")

6. Print "Hello" if a is equal to b, or if c is equal to d.

In [26]:
a = 50
b = 10
c = 5
d = 15

if a == b or c == d:
    print("Hello")

7. Use the correct short hand syntax to write the following conditional expression in one line:
    
                if 5 > 2:
                  print("Yes")
                else
                  print("No")

In [24]:
print("Yes") if 5 > 2 else print("No")

Yes

# Functions

1. Create a function named my_function to print 'Hello from a function' when called

In [29]:
def my_function ():
    print("Hello from a function")

2. Execute a function named my_function.

                def my_function():
                  print("Hello from a function")

In [33]:
def my_function():
    print("Hello from a function")
    
my_function()

Hello from a function

3. Let the function return the x parameter + 5.

In [34]:
def my_function (x):
    return x+5

my_function(10)

15

## Lambda

1. Create a lambda function that takes one parameter a and returns it

In [3]:
func = lambda a,b: pow(a,)

print(func(3,2))

9

# Loops

### For Loops

1. Loop through the items in the fruits list and print each item

                fruits = ['apple', 'banana', 'cherry']

In [41]:
fruits = ['apple', 'banana', 'cherry']

for i in fruits:
    print(i)

apple
banana
cherry

2. In the loop, when item value is 'banana', jump directly to the next item.

In [4]:
fruits = ['apple', 'banana', 'cherry']
    
for i in fruits:
    if i != 'banana':
        print(i)
    #else:
        #continue

apple
cherry

3. Use the range function to loop through a code set 6 times

In [51]:
for i in range(6):
    print(i)

0
1
2
3
4
5

4. Exit the loop when x is 'banana'

In [9]:
fruits = ['apple', 'banana', 'cherry']
    
for i in fruits:
    if i == 'banana':
        break
    print(i)

apple

### While Loops

1. Print i as long as i is less than 6.

In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

2. Stop the loop if i is 3

In [2]:
i = 1
while i < 6:
    if i == 3: 
        break
    else:
        print(i)
    i += 1

1
2

3. In the loop, when i is 3, jump directly to the next iteration.

In [5]:
i = 0
while i < 6:
    i += 1 
    if i == 3: 
        continue
    else:
        print(i)

1
2
4
5
6

4. Print a message once the condition is false

In [6]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("False message display here")

1
2
3
4
5
False message display here

# Mathematical Function

### Built-in Math Functions

1. Find the lowest value of the 3 numbers (5, 10, 25)

In [8]:
print(min(5,10,25))

5

2. Find the number that has the highest value (5, 10, 25)

In [12]:
print(max(5,10,25))

25

3. Find the absolute value of the number -7.25

In [13]:
print(abs(-7.25))

7.25

4. Find the value of x to the power of y. (x = 4, y =3)

In [10]:
print(pow(4,3))

64

### The Math Module
1. Find the square root of 64

In [18]:
print(math.sqrt(64))

8.0

2. Round upwards the number 1.4 to the nearest integer

In [20]:
print(math.ceil(1.4))

2

3. Round downwards the number 1.4 to the nearest integer

In [21]:
print(math.floor(1.4))

1

4. Print the value of pi using the math module

In [23]:
print(math.pi)

3.141592653589793

# Generating Random Numbers

1. Print a random number between the value 0 and 1

In [11]:
import random

print(random.random())

0.01043006553320558

2. Print a random integer between the value 1 and 50

In [28]:
import random

print(random.randint(1,10))

4

3. Print a random float value between 0 and 50

In [30]:
import random

print(random.uniform(0,50))

42.02086693705287